* {
	box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
}



.wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


// grid




.row {
    @include clearfix;
	margin: 0 -15px;
    &+& {
        margin-top: 15px;
    }
}

[class^="col-"] {
    float: left;
    padding: 0 15px;
}




.col-3 {
    width: 100%;
    @include tablet {
		width: (100% / 4);
    }
}

.col-4 {
    width: 100%;
    
    @include desktop {
    	width: (100% / 3);
    }
    @include tablet {
		width: (100% / 2);
    }
}

.col-6 {
    width: 100%;
    @include tablet {
		width: (100% / 2);
    }
}



