.navbar {
    float: right;
    @include tablet {
        padding-top: 20px;
    }
    ul {
        padding: 0;
        margin: 0 36px 0 0;
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        position: relative; 
        padding-right: 30px;    
        &:after {
            content: '';
            position: absolute; 
            width: 1px; 
            height: 30px;   
            right: 0;   
            top: 36px; 
            background-color: #e8e8e8;
            @include desktop {
                top: 18px;  
            }
            @include tablet {
                display: none;  
            }
        }
        @include tablet {
            position: fixed;
            width: 100%;
            height: 100vh;
            right: 0;
            margin: 0;
            top: 0;
            background-color: #fff;
            z-index: 20;
            transform: translate3d(100%, 0, 0);
            transition: transform 0.3s;
            padding-top: 40px;
        }
        &.active {
            @include tablet {
                transform: translate3d(0, 0, 0);
            }
        }

        li {
            position: relative;
            float: left;
            padding: 38px 27px;
            @include desktop {
                padding: 20px 10px;    
            }
            @include tablet {
                float: none;
                padding: 0; 
            }
            &:not(:last-child) {
                @include tablet {
                    border-bottom: 1px solid #dddddd;
                }
            }
            a {
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                text-decoration: none;
                color: #565656;
                transition: color 0.3s;
                
                @include tablet {
                    padding: 20px;
                    display: block;
                }
                
            }
            &.active {
                >span {
                    display: inline-block;
                    padding: 0 20px;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #565656;
                    transition: color 0.3s;
                }
            }

            &:hover {
                >a {
                    color: #ffdb2b;
                }
            }

            .caret {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 3.5px 0 3.5px;
                border-color: #ffdc2b transparent transparent transparent;
            }
            .dropdown {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;    
                z-index: 2;
                height: auto;
                margin: 0;
                padding: 0;
                list-style: none;
                border: none;
                border-top: 1px solid #ffdb2b;
                @include tablet {
                    position: static;
                    display: block; 
                }
                li {
                    padding: 0;
                    background-color: #fff;
                    float: none;
                    margin: 0;
                    transition: background-color 0.3s;
                    &:hover {
                        background-color: #fafbfc;
                    }
                    a {
                        display: block;
                        padding: 15px 24px;
                        text-transform: uppercase;
                        @include tablet {
                            padding: 6px 19px;
                            font-size: 12px;    
                        }
                    }
                    &.active {
                        background-color: #fafbfc;
                        >a,
                        >span {
                            color: #ffdb2b;
                        }
                    }
                }
            }
            &:hover {
                .dropdown {
                    display: block;
                }
            }
        }
    }
    .search {
        display: inline-block;
        vertical-align: middle;
        svg {
            width: 21px;
            height: 21px;
            vertical-align: middle;
        }
    }
}

.hamburger-button {
    vertical-align: middle;
    margin-right: 30px;
    display: none;
    @include tablet {
        display: inline-block;
    }
}

.navbar-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    display: none;
    @include tablet {
        display: block;
    }
    &:after,
    &:before {
        content: "";
        width: 20px;
        display: block;
        position: absolute;
        top: 7px;
        left: -2px;
        height: 1px;
        background-color: #333;
        transform: rotate(-45deg);
    }
    &:after {
        transform: rotate(45deg);
    }
}