.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

h2 {
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	color: #0f0f0f;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}